@import '../../../theme.scss';

.something-went-wrong {
  svg {
    width: 100%;
    height: auto;
  }

  .title {
    color: $red;
    font-weight: bold;
  }

  .subtitle {
    color: $subtle-heading;
  }
}
