.task {
  max-width: 270px;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(23, 43, 77, 0.2) 0px 1px 1px,
    rgba(23, 43, 77, 0.2) 0px 0px 1px;
  background-color: rgb(255, 255, 255);
  color: rgb(23, 43, 77);
  filter: none;
  margin: 2px 0px;
  border-radius: 3px;
  transition: background-color 140ms ease-in-out 0s, color 140ms ease-in-out 0s;
}
