@import '../../../theme.scss';

.task {
  margin: 5px 0px;
  padding-top: 6px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;

  cursor: pointer;
  user-select: none;
  box-sizing: border-box;

  color: $heading;
  background-color: $white;
  transition: background-color 140ms ease-in-out 0s, color 140ms ease-in-out 0s;
  box-shadow: rgba($heading, 0.2) 0px 1px 1px, rgba($heading, 0.2) 0px 0px 1px;
  border-radius: 3px;

  &:hover {
    background-color: $skeleton;

    .more-actions.hide {
      display: initial;
    }
  }

  .more-actions.hide {
    display: none;
  }

  header {
    display: flex;
    height: 32px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
  }

  footer {
    display: flex;
    align-items: flex-end;

    img {
      margin-right: 5px;
    }

    .ui-sequence {
      font-size: 12px;
      font-weight: 600;
      color: $subtle-heading;
      overflow: hidden;
    }
  }
}
