.dashboard {
  width: 100%;
  position: relative;

  .view-projects {
    padding: 0 40px;

    th,
    td {
      padding: 10px !important;
    }
  }

  .no-projects {
    text-align: center;
    max-width: 304px;
    margin: 48px auto;

    img {
      max-width: 160px;
    }

    h3 {
      margin-top: 15px;
    }

    p {
      margin-bottom: 24px;
    }
  }

  .something-went-wrong {
    max-width: 400px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
}
