@import '../../theme.scss';

.confirm-org {
  h1 {
    color: #253858;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  h4 {
    color: $subtle-heading;
    font-weight: 600;
  }

  input {
    font-size: 16px;
    padding: 8px;
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 3px;
    border: 2px solid $grayish;
    background-color: rgb(250, 251, 252);
    transition: background-color 0.2s ease-in-out 0s,
      border-color 0.2s ease-in-out 0s;

    &:focus,
    &:focus:hover {
      background-color: white;
    }

    &:hover {
      background-color: rgb(235, 236, 240);
    }

    &:disabled {
      background-color: #dcdde1;
    }

    &.error {
      border-color: $red;
    }
  }

  button {
    padding: 16px;
    width: 100%;
  }
}
