@import '../../theme.scss';

.board {
  padding: 20px 40px;

  .board-title {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .filter-container {
    max-width: 200px;
  }

  .columns-wrapper {
    display: flex;
    margin-top: 30px;

    // HACK: @atlaskit's InlineEdit ships with margin-top
    // Not sure how else to remove it...
    form,
    div {
      margin-top: 0;
    }
  }

  .columns {
    display: flex;
  }

  .create-column-input {
    min-width: 300px;
  }

  .column {
    background-color: $code-block;
    width: 270px;

    &.task-limit-exceeded {
      background-color: $yellow-2;
    }

    border-radius: 6px;
    min-height: 120px;

    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;

    > header {
      display: flex;
      align-items: center;
      min-height: 35px;
      padding: 5px 0;
      cursor: grab;

      .more-icon {
        margin-left: auto;
        display: none;
      }

      &:hover .more-icon,
      .more-icon.show {
        display: initial;
      }

      .title,
      .tasks-count {
        color: $subtle-heading;
        padding: 2.5px;
      }

      .title {
        text-transform: uppercase;
        font-weight: normal;
        margin-right: 2.5px;
      }

      .tasks-count {
        font-size: 12px;
        margin-top: 1px;
        margin-right: 5px;
      }

      .check-icon {
        color: $green;
        margin-left: 5px;
      }
    }
  }

  .create-project-button {
    margin-left: -5px;
    width: 100%;
    padding: 20px 10px;
  }

  .add-column {
    padding: 10px;
  }
}
