@import '../../theme.scss';

.board {
  padding: 20px 40px;

  .board-title {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .filter-container {
    max-width: 200px;
  }

  .columns {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
  }

  .column {
    background-color: $code-block;
    border-radius: 6px;

    min-width: 300px;
    max-width: 300px;
    min-height: 100px;

    margin-top: 20px;
    margin-right: 20px;

    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 35px;
    }

    .title {
      color: $subtle-heading;
      text-transform: uppercase;
    }

    .icon-wrapper {
      color: $green;
    }
  }

  .create-project-button {
    margin-left: -5px;
    margin-top: 10px;
    width: 100%;
  }

  .add-column {
    padding: 10px;
  }
}
