@import '../../theme.scss';

.board {
  padding: 20px 40px;

  .board-title {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .filter-container {
    max-width: 200px;
  }

  .columns-wrapper {
    display: flex;
    align-items: baseline;
  }

  .columns {
    display: flex;
    margin-top: 10px;
  }

  .column {
    background-color: $code-block;
    border-radius: 6px;

    min-width: 300px;
    max-width: 300px;
    min-height: 120px;

    margin-top: 20px;
    margin-right: 20px;

    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;

    header {
      display: flex;
      align-items: center;
      min-height: 35px;
      padding: 5px 10px;

      .more-icon {
        margin-left: auto;
        display: none;
      }

      &:hover .more-icon,
      .more-icon.show {
        display: initial;
      }

      .title {
        text-transform: uppercase;
        color: $subtle-heading;
        margin-right: 5px;
        padding: 5px;
      }

      .check-icon {
        color: $green;
      }

      // HACK: @atlaskit's InlineEdit ships with margin-top
      // Not sure how else to remove it...
      div {
        margin-top: 0;
      }
    }
  }

  .create-project-button {
    margin-left: -5px;
    margin-top: 10px;
    width: 100%;
    padding: 20px 10px;
  }

  .add-column {
    padding: 10px;
  }
}
