@import '../../../theme.scss';

$first-nav-width: 64px;
$second-nav-width: 240px;
$nav-padding-top: 30px;
$light-global-nav-bg: lighten($primary, 10%);
$light-global-nav-bg-2: lighten($primary, 25%);
$dark-global-nav-bg: darken($primary, 8%);
$toggle-second-nav-width: 24px;

.global-nav {
  height: 100vh;
  color: $background-active;
  max-width: $first-nav-width + $second-nav-width;
  display: flex;
  flex-direction: row;

  ul {
    list-style: none;
    padding: 0;
  }

  a,
  a:hover {
    color: inherit;
    text-decoration: none;
  }

  .first-nav,
  .second-nav {
    padding-top: $nav-padding-top;
    background-color: $primary;
  }

  .first-nav {
    width: $first-nav-width;
    padding-top: $nav-padding-top - 5;
    padding-bottom: $nav-padding-top - 15;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .icon-row {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .icon-wrapper {
      margin-bottom: 8px;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      cursor: pointer;
      text-align: center;
      padding-top: 3px;

      &:hover {
        background-color: $light-global-nav-bg;
      }
    }

    .jira-logo-wrapper {
      width: 40px;
      height: 40px;
      margin-bottom: 13px;
    }
  }

  .second-nav {
    width: $second-nav-width;
    transition: width 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
    will-change: width;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 5px 0px rgba($black, 0.2);
    position: relative;
    white-space: nowrap;

    &.closed {
      width: 20px;
      padding: 0;

      .title,
      ul {
        display: none;
      }

      .toggle-second-nav {
        display: block;
      }
    }

    &:hover,
    &.closed {
      .toggle-second-nav {
        opacity: 1;
      }
    }

    .toggle-second-nav {
      opacity: 0;
      position: absolute;
      top: 32px;
      width: $toggle-second-nav-width;
      height: $toggle-second-nav-width;
      padding: 0px;
      right: -$toggle-second-nav-width / 2;
      border-radius: 50%;
      border: none;
      outline: none;
      cursor: pointer;
      box-shadow: $second-nav-box-shadow 0px 0px 0px 1px,
        $second-nav-box-shadow 0px 2px 4px 1px;
      transition: background-color 100ms linear 0s, color 100ms linear 0s,
        opacity 300ms cubic-bezier(0.2, 0, 0, 1) 0s,
        transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;

      &:hover {
        background-color: $second-nav-hover;
        color: $white;
      }
    }

    a {
      padding: 10px;
      border-radius: 3px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: $light-global-nav-bg;
      }

      &.active {
        background-color: $dark-global-nav-bg;
      }

      .link-text {
        margin-left: 16px;
      }
    }
  }

  .title {
    margin-left: 10px;
    margin-bottom: 30px;
    color: $background-active;
  }
}
