.view-projects {
  width: 100%;
  padding: 0 40px;
  position: relative;

  th,
  td {
    padding: 10px !important;
  }
}

.something-went-wrong {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -70%);
}
