@import '../../theme.scss';

.login {
  .heading,
  a:first-of-type:after {
    color: $subtle-heading;
  }

  .heading {
    font-weight: 600;
    margin-bottom: 20px;
  }

  #google-signin-button {
    width: 320px;
    border-bottom: 1px solid rgba($subtle-heading, 0.3);
    padding-bottom: 20px;
  }

  .links {
    text-align: center;
    margin-top: 20px;
  }

  a {
    &:first-of-type:after {
      content: '•';
      margin: 0 20px;
      font-size: 14px;
    }
  }
}
