@import '../../theme.scss';

.login {
  .heading,
  .separator {
    color: $subtle-heading;
  }

  .heading {
    font-weight: 600;
  }

  #google-signin-button {
    width: 320px;
    border-bottom: 1px solid rgba($subtle-heading, 0.3);
    padding: 20px 0;
  }

  .links {
    text-align: center;
    margin-top: 20px;
  }

  .separator {
    margin: 0 15px;
  }
}
