@import '../../theme.scss';

.action-button {
  background-color: $blue;
  border-radius: 3px;
  color: $white;
  font-size: 14px;
  cursor: pointer;

  transition: background 0.1s ease-out,
    box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
  transition-duration: 0.1s, 0.15s;

  &:disabled {
    background-color: lighten($blue, 35%);
  }

  &:hover {
    background-color: $link-hover;
  }
}
