@import '../../theme.scss';

$background: #fafbfc;
$gray: rgb(107, 119, 140);

.complete-signup {
  .heading {
    color: $subtle-heading;
    margin-bottom: 20px;
  }

  // TODO: Does AtlasKit have an <input /> components?
  input {
    font-size: 16px;
    padding: 8px;
    display: block;
    width: 100%;
    margin: 30px 0;
    border-radius: 3px;
    border: 2px solid $grayish;
    background-color: $skeleton;
    transition: background-color 0.2s ease-in-out 0s,
      border-color 0.2s ease-in-out 0s;

    &:focus,
    &:focus:hover {
      background-color: white;
    }

    &:hover {
      background-color: rgb(235, 236, 240);
    }

    &:disabled {
      background-color: #dcdde1;
    }

    &.error {
      border-color: $red;
    }
  }

  button {
    height: 50px;
  }
}
