$background: #fafbfc;
$gray: rgb(107, 119, 140);
$submit-color: rgb(0, 82, 204);

.complete-signup {
  background-color: $background;
  min-height: 100vh;

  background-image: url('/jira-left.svg'), url('/jira-right.svg');
  background-attachment: fixed, fixed;
  background-size: 25%, 25%;
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;

  @media only screen and (max-width: 705px) {
    background-image: none;
  }

  .container {
    width: 400px;
    margin: 0 auto;
  }

  header {
    padding: 40px 0;
    text-align: center;
  }

  .jira-logo {
    width: 86px;
  }

  section {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    padding: 32px 40px;
    text-align: center;
    background-color: white;

    h5 {
      color: rgb(94, 108, 132);
      font-weight: 600;
      margin-bottom: 20px;
    }

    input {
      font-size: 16px;
      padding: 8px;
      display: block;
      width: 100%;
      margin: 30px 0;
      border-radius: 3px;
      border: 2px solid rgb(223, 225, 230);
      background-color: rgb(250, 251, 252);
      transition: background-color 0.2s ease-in-out 0s,
        border-color 0.2s ease-in-out 0s;

      &:focus,
      &:focus:hover {
        background-color: white;
      }

      &:hover {
        background-color: rgb(235, 236, 240);
      }

      &:disabled {
        background-color: #dcdde1;
      }

      &.error {
        border-color: rgb(222, 53, 11);
      }
    }

    button {
      background-color: $submit-color;
      border-radius: 3px;
      color: white;
      padding: 16px;
      width: 100%;
      font-size: 14px;
      cursor: pointer;

      &:disabled {
        background-color: lighten($color: $submit-color, $amount: 35);
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 400px;
    border-top: 1px solid rgb(223, 225, 230);
    text-align: center;
    padding: 24px 0;

    img {
      width: 190px;
      height: 32px;
      display: block;
      margin: 0 auto;
      margin-bottom: 5px;
    }
  }

  .subtext {
    font-size: 12px;
    color: $gray;
  }
}
