$background: #fafbfc;
$gray: rgb(107, 119, 140);
$submit-color: rgb(0, 82, 204);

.complete-signup {
  h5 {
    color: rgb(94, 108, 132);
    font-weight: 600;
    margin-bottom: 20px;
  }

  input {
    font-size: 16px;
    padding: 8px;
    display: block;
    width: 100%;
    margin: 30px 0;
    border-radius: 3px;
    border: 2px solid rgb(223, 225, 230);
    background-color: rgb(250, 251, 252);
    transition: background-color 0.2s ease-in-out 0s,
      border-color 0.2s ease-in-out 0s;

    &:focus,
    &:focus:hover {
      background-color: white;
    }

    &:hover {
      background-color: rgb(235, 236, 240);
    }

    &:disabled {
      background-color: #dcdde1;
    }

    &.error {
      border-color: rgb(222, 53, 11);
    }
  }

  button {
    background-color: $submit-color;
    border-radius: 3px;
    color: white;
    padding: 16px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;

    &:disabled {
      background-color: lighten($color: $submit-color, $amount: 35);
    }
  }
}
