$notification-width: 400px;

.notification {
  cursor: pointer;
  position: fixed;

  // transition properties
  transition: all 400ms ease-in-out 0s;
  visibility: hidden;
  opacity: 0;
  top: 30px;
  right: -10%;

  &.show {
    right: 50px;
    visibility: visible;
    opacity: 1;
  }
}
