$black: #000;
$white: #fff;

$blue: rgb(0, 82, 204);
$light-blue: rgb(179, 212, 255);

$red: rgb(222, 53, 11);
$grayish: rgb(223, 225, 230);
$yellow: rgb(255, 171, 0);

$purple: rgb(101, 84, 192);
$purple-2: rgb(107, 119, 140);

$primary: rgb(7, 71, 166);
$heading: rgb(23, 43, 77);
$subtle-heading: rgb(94, 108, 132);
$skeleton: rgba(9, 30, 66, 0.04);

$background: rgb(255, 255, 255);
$background-active: #deebff;
$background-hover: rgb(235, 236, 240);

$second-nav-hover: rgb(76, 154, 255);
$second-nav-box-shadow: rgba($heading, 0.08);

$link-hover: rgb(0, 101, 255);
